@if (obraz !== null)
{
<div class="obraz-card">
    <img [src]="'images/' + obraz.styl + '.jpg'" >
 
</div>
<h2>{{obraz.title}}</h2>
    <div class="opis">
        <hr>
        <p>Autor: {{obraz.autor}}</p>
        <p>Kraj: {{obraz.kraj}}</p>
        <p>Styl: {{obraz.styl}}</p>
        <div class="stars">
            <img *ngFor="let star of dodajStars(obraz.stars)" [src]="star" >
        </div>
    </div>
<div class="buttons">
    <button (click)='poprzedniImage()'>Poprzedni</button> 
    <button (click)='nastepnyImage()'>Następny</button>
</div>
}